.price_mini {
  background: #333333;
  padding: 0 20px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  outline: 3px solid #33333326;
  position: absolute;
  width: 189px;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  bottom: 35px;
  left: -135px;
  span {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
  }
  @media (max-width: 900px) {
    left: auto;
    right: -7px;
    bottom: 126px;
    font-size: 8px;
    padding: 8px 7px;
    width: 122px;
    span {
      font-size: 14px;
    }
  }
}