@font-face {
    font-family: "GreatVibes";
    src: url("/temple/fonts/GreatVibes-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "YFFRARETRIAL";
    src: url("/temple/fonts/YFF_RARE_VF_TRIAL.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

// 
@font-face {
    font-family: "Roboto";
    src: url("/temple/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/temple/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/temple/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/temple/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("/temple/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/temple/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}